<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据导入</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/admin.css" media="all">

    <link rel="shortcut icon" href="/static/layui/images/favicon.ico"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div class="layui-fluid" id="component-tabs">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">算法数据表</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test" lay-filter="test"></table>

                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">
                            <i class="layui-icon layui-icon-edit"></i> 编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
                            <i class="layui-icon layui-icon-delete"></i> 删除</a>
                    </script>
                    <br>
                    <button type="button" class="layui-btn" id="add">
                        <i class="layui-icon layui-icon-add-1"></i> 添加算法
                    </button>
                </div>
            </div>

        </div>
        <div class="layui-col-md12">

        </div>
    </div>


    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                , url: '/getAlogrithms'
                , cols: [[
                    {field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true, width: 60}
                    , {field: 'algorithm_name', title: '算法名称', width: 400}
                    , {field: 'algorithm_type', title: '算法类型'}
                    , {field: 'location', title: '位置'}
                    , {field: 'file_type', title: '文件类型'}
                    , {field: 'description', title: '描述'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 160}
                ]]
                , page: true
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('确定删除？', function (index) {
                        $.ajax({
                            url: "/delete/" + data.id,
                            async: true,
                            type: 'get',
                            success: function (d) {
                                layer.msg("删除" + d.filename +"成功! 请等待系统自动跳转");
                            },
                            error: function () {
                                layer.alert("删除失败！");
                            }
                        });
                        layer.close(index);
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 2100);
                } else if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        title: '编辑算法',
                        shadeClose: true,
                        shade: 0,
                        area: ['500px', '400px'],
                        content: 'edit', //iframe的url
                        success: function (layero, index) {
                            // 获取子页面的iframe
                            var iframe = window['layui-layer-iframe' + index];
                            // 向子页面的全局函数child传参
                            iframe.child(data);
                        }
                    });
                }
            });
        });
    </script>


    <script>
        $('#add').on('click', function () {
            layer.open({
                type: 2,
                title: '添加算法',
                shadeClose: true,
                shade: 0,
                area: ['500px', '400px'],
                content: 'edit' //url到edit.html
            });

        })
    </script>
</div>


</body>
</html>